*{
    font-family: 'Roboto', sans-serif;
  
}

body{
    background-color: #e20202;
}

#pokemonList{
    display: contents;
}
.pokemon {
    display: flex;
    flex-direction: column;
}

.pokemon .number{
    align-self: flex-end;
    color: #020202;
    background-color: #ff3434;
    font-size: 1.5rem;
    border-radius: 5rem;
    box-shadow: 4px 6px 6px 3px #06060661;
    border-style: groove;
    margin-right: 1rem;
    margin-top: 0.5rem;
    padding: 0.3rem;
}

.pokemon .adjustname{
    display: flex;
    flex-direction: column;
}
.pokemon .name{
    align-self: center;
    font-size: 2rem;
    color: #020202;
    background-color: #ff3434;
    font-size: 1.5rem;
    border-radius: 5rem;
    box-shadow: 4px 6px 6px 3px #06060661;
    border-style: groove;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-transform: capitalize;
}
.bgimg{
    display: flex;
    align-self: center;
    background-color: mediumaquamarine;
    border-style: inset;
    padding: 2.5rem;
    box-shadow: inset 0 -3em 3em rgb(136 141 136 / 76%), 0 0 0 2px #c19595, 0.3em 0.3em 1em rgb(0 0 0 / 38%);
    align-content: flex-end;
    flex-direction: column;

}
img{
    
    width: 100px;
    height: 80px;
    margin-bottom: 1rem;
    align-self: center;
}


.types{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    
}

.type{
    margin: 1rem;
    align-self: center;
    font-size: 2rem;
    color: #020202;
    background-color: #ffffff;
    font-size: 1.5rem;
    border-radius: 5rem;
    box-shadow: 4px 6px 6px 3px #00000061;
    border-style: inset;
    margin-right: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: .25rem;
    text-transform: capitalize;
}


    

.detail2{
    display: flex;
    align-self: center;
    margin-right: 3rem;
    margin-bottom: 1rem;
 
    padding: 1rem;
  
}


.numerostatus{

    display: flex;
    flex-direction: column;
    justify-content:space-between;
   

}

.atributo {
    color: #ffffff;
    list-style: none;
    text-transform: capitalize;
    text-shadow: 5px 4px 2px #000000bd;
}

.textostatus{
  
    display: flex;
    flex-direction: column;
    justify-content:space-between;
   

}


.numeros{
   
    list-style: none;
    color: #000000;
    background-color: #ffffff;
    padding: 0.1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: #000000ad 5px 5px 11px 2px;
    font-size: -0.2rem;
    font-size: 0.8rem;
    margin: 0.1rem 0;
    

}

.pagination{
    text-align: center;
}

.pagination button {
    padding: 10px 20px;
    background-color: #f8f8f8;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

#loadLessButton {
    background-color: #ee0909;
    color: #fff;
    box-shadow: 10px 5px 5px #231f1f61;
}


#loadMoreButton {
    background-color: #ee0909; 
    color: #fff; 
    box-shadow: 10px 5px 5px #231f1f61;
}
